# Node modules
node_modules/

# Build outputs
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Env files
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/
/generated/prisma

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# Coverage reports
coverage/

docker-compose.override.yml
